<?xml version="1.0" encoding="utf-8" ?>
<suite name="这是我自己的接口测试套件">
    <test name="这些是测试模块">
        <classes>
            <class name="com.tester.extend.demo.TestMethodsDemo"></class>
            <methods>
                <include name="test1">

                </include>
                <include name="test2"></include>
                <include name="logDemo"/>
            </methods>
        </classes>
    </test>
    <listeners>
        <!--但是这个出来的报告比较不好看-->
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
    </listeners>

</suite>